.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-container{
    position: sticky;
    top:0;
    right: 0;
    left: 0;
    
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: black;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

ul li{
    font-size: 15px;
}

a:visited, a {
    color: white;
}


.dropdown {
    position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-icon:hover {
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    right: 0;
    top: 60px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
}


